.navheader {
    margin: 0.3em 0.3em 0 0.3em;
}

.navheader .nav-tabs li.active a:focus {
    background-color: #f7f7f7;
}

.navheader .nav-tabs li.active a {
    border-color: lightgray lightgray rgba(0,0,0,0) lightgray ;
    background-color: #f7f7f7;
}

.navheader .nav-tabs li a {
    border-width: 1px;
    border-radius: 10px 10px 0 0;
}

.navheader .logged-in-user div.hoverdrop {
    display: none;
    position: absolute;
    width: 100%;
}

.navheader .logged-in-user:hover div.hoverdrop {
    display: flex;
    flex-direction:row-reverse;
}