.compose .header label {
    padding: 0 1em;
    flex: 0 0 6em;
}

.compose .body {
    background-color: lightgray;
    height: 100%;
}
.compose .body textarea {
    width: 100%;
    border: 0;
    outline: 0;
}

.compose .body .buttons {
    padding: 1em 0;
    float: right;
}