.messagelist table {
    table-layout: fixed;
    width:100%;
}

.messagelist thead td {
    font-weight: bold;
}

.messagelist table td {
    padding: 0.25em 0.75em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
    cursor: default;
}

.messagelist table td:nth-child(1){ width: 30%; }
.messagelist table td:nth-child(2){ width: 70%; }