.messagelist table {
    table-layout: fixed;
    width:100%;
}

.messagelist thead td {
    font-weight: bold;
}

.messagelist thead td.st-sort-ascent:after {
    content: " \f0de";
    font-family: "FontAwesome";
}

.messagelist thead td.st-sort-descent:after {
    content: " \f0dd";
    font-family: "FontAwesome";
}

.messagelist table td {
    padding: 0.25em 0.75em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
    cursor: default;
}

.messagelist i.fa-circle {
    color: cornflowerblue;
    font-size: 50%;
}

.messagelist table tr.active {
    background-color: cornflowerblue;
    color: white;
}

.messagelist table td:nth-child(1){ width: 1.75em; }
.messagelist table td:nth-child(2){ width: 21%; }
.messagelist table td:nth-child(3){ width: 62%; }
.messagelist table td:nth-child(4){ width: 15%; }

.messagelist thead tr:first-child {
    /*position:absolute;*/
}

.messagelist tbody tr:first-child td{
    /*padding-top:28px;*/
}